body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

#grid {
    display: grid;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
}

.number {
    color: white;
    font-family: sans-serif;
}